<html>
<head>
    <title>Main page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-light bg-faded">
    <form class="form-inline" enctype="multipart/form-data"   method="POST">
        <input class="form-group" type="file" name="filearg" />
        <input class="form-group" type="submit" value="Upload"/>
        {% module xsrf_form_html() %}
    </form>
    <a href="/logout">logout</a>
</nav>
<div class="container">
    {%  if data['error'] %}
        <div class="alert alert-danger">
          {{ data['error'] }}
        </div>
    {% end %}
    <table class="table table-bordered">
        <tr>
            <th>User</th>
            <th>File</th>
        </tr>
        {% for item in data['tree'] %}
            <tr>
                <td>{{ item['file'].user.email }}</td>
                <td>
                    <a href="/file/{{ item['file'].id }}">{{ item['file'].name }}</a>
                    <ul>
                        {%  for page in item['pages'] %}
                            <li>
                                <a href="/page/{{ page.id }}">{{ page.name }}</a>
                            </li>
                        {% end %}
                    </ul>
                </td>
            </tr>
        {% end %}
    </table>
</div>
</body>
</html>

