<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        .content {
              position: absolute;
              margin: auto;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              width: 300px;
              height: 300px;
        }
    </style>
</head>
<body>
<div class="content">
    {%  if data['error'] %}
        <div class="alert alert-danger">
          {{ data['error'] }}
        </div>
    {% end %}
   <form action="/signup" method="POST">
       <div class="form-group">
           <label>E-mail: </label>
           <input class="form-control" type="email" name="email" value="{{ data['email'] }}"/>
       </div>
       <div class="form-group">
           <label>Password:</label>
           <input class="form-control" type="password" name="password" />
       </div>
       <div class="form-group">
            <label>Password confirmation:</label>
            <input class="form-control" type="password" name="password_confirmation" />
       </div>
      <div class="form-group">
            <input type="submit" value="Sign up" /> <a href="/login">Sign in</a>
      </div>
        {% module xsrf_form_html() %}
    </form>
    </div>
</body>
</html>